@page
@model ComicTrackerApp.Pages.ComicsModel
@{
    ViewData["Title"] = "Your Wishlist";
}
<h1>Wishlist</h1>

@using System.Linq
@foreach (var comic in Model.Comics.Where(c => c.InWishlist))
{
    <img src="/images/@comic.ImageFileName" alt="@comic.Name" style="max-width: 300px;" />
    <p>@comic.Name</p>
    <p>@comic.Year</p>
    <p>Price: $@comic.Price.ToString("F2")</p>
    <hr>
}